.NavigationItem {
	margin: 5rem 1rem;

}

.NavigationItem a {
	text-decoration: none;
	color: #1B262C;
	font-size: 1.2rem;
	font-weight: 200;
}

.NavigationItem a:hover,
.NavigationItem a:focus,
.NavigationItem a:active {
	color: #3282B8;
	text-decoration: underline 1px solid #BBE1FA;
	transition: all 1s;
}
